.de {
    color: gray;
}
.p {
    color: rgb(86, 86, 205);
    margin: 20px;
}
.sss {
    margin: 20px;
}
.pp {
    color: gray;
}
/* .svg {
    height: 200px;
    width: 200px;
    text-align: center;
} */
.GlavButton {
    font-size: 80px; 
    padding: 20px 40px;   
}
.Wellcome { 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 50%; 
}